PORT=3000
DB_URI = mongodb+srv://ipaslop262:9ToJQl4mD3NIJ7UY@cluster0.3m0xgfd.mongodb.net/dbapi?retryWrites=true&w=majority
PUBLIC_URL=http://localhost:3001
JWT_SECRET=cck5TW115azU // Llave maestra a partir de la cual se generarán los tokens
SLACK_WEBHOOK=https://hooks.slack.com/services/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